global:
  scrape_interval: 15s
  evaluation_interval: 15s
scrape_configs:
  - job_name: "industrial-api"
    metrics_path: "/metrics"
    static_configs:
     - targets: ["host.docker.internal:9091"]
    scrape_interval: 5s
  - job_name: "postgresql"
    static_configs:
     - targets: ["host.docker.internal:9187"]
    